.flex-container {
    display: flex;
    flex-direction: row;
}
#header-text-content {
    display: flex;
    flex-direction: column;
}
.flex-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}